<p><button class="btn btn-lg btn-outline-primary" (click)="open(content)">New Product</button>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="search...">
</p>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-md-6">
                <form #f="ngForm" (ngSubmit)="save(f)">
                        <div class="form-group">
                         <!-- <input hidden #productId="ngModel"  [(ngModel)]="product.key" name="productId" id="productId" class="form-control" type="text"> -->
                          <label for="title">Title</label>
                          <input #title="ngModel" [(ngModel)]="product.title" name="title" type="text" placeholder="Title" id="title" class="form-control" required>
                          <div class="alert alert-danger"*ngIf="title.touched &&title.invalid">Title Is Requird</div>
                        </div>
                        <div class="form-group">
                          <label for="price">Price</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            <input #price="ngModel" [(ngModel)]="product.price" name="price" type="number" placeholder="Price" id="price" class="form-control" required [min]="0">
                          </div>
                            <div class="alert alert-danger"*ngIf="price.touched &&price.invalid">
                             
                              <div *ngIf="price.errors.required">
                                      Price Is Requird
                              </div>
                              <div *ngIf="price.errors.min">
                                      Price Should greater than 0
                              </div>
                              </div>
                        </div>
                        <div class="form-group">
                          <label for="category">Category</label>
                          <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                            <option value="">Select Category</option>
                            <option *ngFor="let category of categories$ | async" [value]="category.key">{{category.payload.val().name}}</option>
                            </select>
                            <div class="alert alert-danger"*ngIf="category.touched &&category.invalid">Category Is Requird</div>
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">Image Url</label>
                            <input #imagUrl="ngModel" [(ngModel)]="product.imagUrl" name="imagUrl" type="text" placeholder="imageUrl" id="imageUrl" class="form-control" required url>
                            <div class="alert alert-danger"*ngIf="imagUrl.touched &&imagUrl.invalid">
                              <div *ngIf="imagUrl.errors.required">
                                      ImagUrl Is Requird
                              </div>  
                              <div *ngIf="imagUrl.errors.url">
                                      ImagUrl Is Invalid URL
                              </div>  
                             </div>
                          </div>
                          <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Save</button>
                      </form>
          </div>
          <div class="col-md-6">
              <product-card [product]="product"[show-action]="false"></product-card>
                <!-- <div class="card" *ngIf="product.title" style="width: 18rem;">
                        <img class="card-img-top" [src]="product.imagUrl"*ngIf="product.imagUrl" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{product.title}}</h5>
                          <p class="card-text">Price: {{product.price |currency}}</p>
                        </div>
                      </div> -->
            </div>
      </div>
    
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>


<table class="table table-striped" [mfData]="filteredProducts" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
        <th >
            <mfDefaultSorter  by="title">Title</mfDefaultSorter>
        </th>
        <th>
                <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
            <th>
                    <mfDefaultSorter by="category">category</mfDefaultSorter>
         </th>
         <th>Edit</th>
         <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of mf.data ">
        <td>{{pro.title}}</td>
        <td>{{pro.price}}</td>
        <td>{{pro.category}}</td>
        <td><button class="btn btn-warning" (click)="edit(content,pro.key)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="delete(pro.key)">Delete</button></td>
    </tr>
    </tbody>
    <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
</table>
